<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns   = "http://www.w3.org/ns/widgets"
    xmlns:gap   = "http://phonegap.com/ns/1.0"
    id          = "com.app.pitagora"
    versionCode = "10"
    version     = "1.0" >

<!-- versionCode is optional and Android only -->

  <name>App Pitagora</name>

  <description>
      App per il calcoli la misura dell'ipotenusa conoscendo le misure dei cateti di un triangolo rettangolo qualsiasi.
  </description>

  <author email="danushika.chathuri@canossamilano.org">
      B.D.C.Danushika
  </author>
<platform name="android" />
	<icon src="icon.png" platform="android" qualifier="ldpi" />
	<icon src="icon.png" platform="android" qualifier="mdpi" />
	<icon src="icon.png" platform="android" qualifier="hdpi" />

<access origin="*"/>
<plugin name= "cordova-plugin-whitelist" source="npm"/>
<!-- abilita links esterni -->
<allow-navigation href="*://*getskeleton.com/*"/>
</widget>

